@model InvoiceManagementWebApp.Models.DatabaseModels.Invoice

<div class="card-body">
    @Html.ValidationSummary(false, "", new { @class = "ml-3 text-danger" })
    @{
        using (Ajax.BeginForm("Create", "Invoice",
            new AjaxOptions { HttpMethod = "post", UpdateTargetId = "InvoiceCard", InsertionMode = InsertionMode.Replace, OnSuccess = "LoadTable()" },
            new { id = "InvoiceCard" }))
        {

            <div class="card mt-3" name="GeneralInfo">
                <div class="card-header p-1 m-0">
                    <strong>Informacje ogólne</strong>
                </div>

                <div class="card-body ">
                    <div class="row mb-2">
                        <div class="col-2">
                            @Html.LabelFor(m => m.InvoiceNo)
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(m => m.InvoiceNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="col-2">
                            @Html.LabelFor(m => m.PostingDate)
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="PostingDate" name="PostingDate">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2">
                            @Html.LabelFor(m => m.CurrencyCode)
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(m => m.CurrencyCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="col-2">
                            @Html.LabelFor(m => m.DocumentDate)
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="DocumentDate" name="DocumentDate">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2">
                            @Html.LabelFor(m => m.State)
                        </div>
                        <div class="col-4">
                            @Html.EnumDropDownListFor(m => m.State, new { @class = "form-control", @disabled = "disabled" })
                        </div>

                        <div class="col-2">
                            @Html.LabelFor(m => m.PaymentDue)
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="PaymentDue" name="PaymentDue">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-2 pl-3">
                            @Html.LabelFor(m => m.Vendor)
                        </div>
                        <div class="col-4 ">
                            @Html.EditorFor(m => m.Vendor.CompanyId, new { htmlAttributes = new { @class = "form-control", @data_toggle = "modal", @data_target = "#selectVendorModal" } })
                        </div>
                        <div class="col-2 pl-3">
                            @Html.LabelFor(m => m.Customer)
                        </div>
                        <div class="col-4 ">
                            @Html.EditorFor(m => m.Customer.CompanyId, new { htmlAttributes = new { @class = "form-control", @data_toggle = "modal", @data_target = "#selectCustomerModal" } })
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3" name="LinesCard">
                <div class="card-header p-1 m-0">
                    <strong>Wiersze faktury</strong>
                </div>
                <div class="card-body p-0">
                    @Html.Partial("_InvoiceLinesPartialView", Model.Lines)
                </div>
            </div>
        
            <input id="save" name="save" type="hidden" value="false" />
            @Html.HiddenFor(m => m.InvoiceType)
            
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-sm btn-secondary float-left mt-5" name="BtnReturn" id="BtnReturn" onclick="GoToTableForm()"><i class="zmdi zmdi-long-arrow-return mr-2"></i>Anuluj</button>
                </div>
                <div class="col-4 text-center">
            <button type="submit" class="btn btn-sm btn-primary mt-5" name="btnSave" id="btnSave" onclick="saving()"><i class="fas fa-save mr-2"></i>Zapisz</button>

                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-sm btn-success float-right mt-5" id="BtnAdd" name="BtnAdd" onclick="posting()"><i class="fas fa-plus mr-2"></i>Księguj</button>
                </div>
            </div>

        }
    }

    @Html.Action("GetSelectCompanyPartialView", "Invoice")

</div>


